
body {
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

h1, h2, p {
    font-weight: 400;
}

p {
    color: hsl(233, 26%, 24%);
}

.sectionTitle {
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #fff;
    position: relative;
    z-index: 2;
}

.inviteButton {
    text-align: center;
    font-size: 0.9em;
    padding: 10px 20px;
    height: 40px;
    width: 140px;
    border-radius: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,230,230,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 67%);
}

.inviteButton a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.inviteButton {
    display: block;
}

.menu-active {
    transform: translateY(0%);
}

/************HEADER*****************/

.header{
    background: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 700px;
    position: relative;
    z-index: 1;
}

.headerText {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
}

.headerText > * {
    padding: 10px;
}

.headerText h1 {
    font-size: 3.5em;
}

.headerText p {
    line-height: 1.8em;
    font-size: 1.1em;
    width: 85%;
}

.headerText .inviteButton {
    margin-top: 20px;;
}

.headerImages {
    background-image: url('../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    grid-column-start: 2;
}

.headerImages img {
    height: 700px;
    position: absolute;
    z-index: 0;
    height: 900px;
    overflow-x: hidden;
}


#introMockups {
    top: -80px;
    right: -150px;
}

/************WHY CHOOSE SECTION*****************/

.whyChooseSection {
    background-color: #F4F5F7;
}

.whyChooseSectionIntro {
    padding: 60px;
    width: 70%;
}

.whyChooseSectionIntro > * {
    margin: 20px;
    text-align: left;
}

.whyChooseSectionIntro p {
    line-height: 1.5em;
    width: 70%;
}

.whyChooseContainer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasonContainer > * {
    margin: 20px;
}

.reasonContainer p {
    width: 80%;
}

/************ARTICLES SECTION*****************/

.articlesSection {
    padding-top: 75px;
}

.articlesSection h1 {
    text-align: center;
}

.articlesContainer {
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.articleCard {
    margin: 30px;
    width: 250px;
    height: 400px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    background-color: #fff;
    border-radius: 15px;
}

.articleCard img {
    margin: 0 auto;
    min-height: 100%;
    border-radius: 10px 10px 0 0;
    grid-column-start: 1;
    grid-row-start: 1;
}

.articleTextDiv {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    width: 90%;
}

.articleTextDiv > * {
    margin: 5px;
}

.articleTextDiv h3, .articleTextDiv p {
    grid-column-start: 1;
    grid-row-start: 2;
}

.articleTextDiv p {
    font-size: 0.9em;
}

.articlesSection {
    background-color: #FAFAFA;
}

.author {
    font-size: 0.7em;
}

.articleCard img {
    width: 100%;
}

/************FOOTER SECTION*****************/

footer {
    padding: 40px;
    background-color: #2D314E;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer p {
    color: hsl(220, 16%, 96%);
}

.iconContainer {
    padding: 30px;
    display: flex;
}

.iconContainer img{
    padding: 10px;
}

.footerMenu {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
}

.footerMenu li {
    padding: 12px;
    display: flex;
    justify-content: space-around;
}

.footerMenu li a {
    color: white;
    text-decoration: none;
}

footer .inviteButton {
    margin-top: 20px;
}

footer p {
    padding: 30px;
}

.attribution {
    padding: 30px;
    background-color: #2D314E;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/******************************** MEDIA QUERIES ************************************/

@media screen and (max-width: 768px) {

    .headerImages {
        background-image: url('../images/bg-intro-mobile.svg');
    }

    .menu {
        position: absolute;
        right: 0;
        left: 0;
        height: 42vh;
        top: 8vh;
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-150%);
        transition: transform 0.5s ease-in;
    }

    .hamburger {
        display: block;
    }

    nav .inviteButton {
        display: none;
    }

    .reasonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1040px) {
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1040px) {

    .header{
        height: 800px;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
    }

    .headerText {
        padding: 0;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .headerImages {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .headerImages img {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        height: 70%;
        margin: 0 auto;
    }

    .headerText > * {
        text-align: center;
        margin: 0 auto;
    }

    .headerText h1 {
        font-size: 2.75em;
    }

    .headerText p {
        line-height: 1.8em;
        font-size: 0.9em;
        width: 85%;
    }

    #introBackground {
        top: -120px;
        left: 0;
        right: 0;
    }
    
    #introMockups {
        top: -140px;
        left: -20PX;
        right: 0;
    }
    
    .whyChooseSection {
        padding-top: 75px;
        margin: 0 auto;
    }

    .whyChooseSectionIntro {
        padding: 60px;
        width: 90%;
        margin: 0 auto;;
    }

    .whyChooseSection h1, .whyChooseSection p {
        padding: 10px;
        margin: 0 auto;
        width: 70%;
        text-align: center;
    }

    .whyChooseContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reasonContainer {
        margin: 30px auto;
        text-align: center;
    }

    .articleTextDiv > * {
        margin: 0 auto;
    }
    
    .articlesSection h3, .articlesSection p {
        padding: 10px;
        width: 90%;
    }

    .articlesContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .articleCard {
        height: 520px;
        grid-template-rows: 40% 60%;
  
    }

    .footerMenu {
        width: 20%;
        display: block;
    }
    
}

